Django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2
django-import-export==4.4.1
psycopg2-binary==2.9.12
redis==5.2.1
celery==5.6.3
django-celery-beat==2.9.0
Pillow==12.2.0
python-decouple==3.8
python-dateutil==2.9.0
django-crispy-forms==2.6
crispy-bootstrap5==2026.3
openpyxl==3.1.5
reportlab==4.5.1
bleach==6.2.0
drf-spectacular==0.29.0
django-simple-history==3.11.0
phonenumbers==8.13.51
gunicorn==26.0.0
whitenoise==6.12.0
dj-database-url==3.1.2
